<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>도서 정보</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">도서 정보</h1>

            <div class="flex flex-col gap-3 mt-3">
                <svg width="80" height="80" th:data-jdenticon-value="${book.jdenticon}"></svg>

                <div class="flex flex-wrap gap-3">
                    <div class="flex flex-wrap gap-3">
                        <div>
                            <div class="badge">
                                <i class="fa-solid fa-pen"></i>
                                <span class="ml-1">작성</span>
                                <span class="ml-1"
                                      th:text="${#temporals.format(book.createDate, 'yy-MM-dd')}"></span>
                            </div>
                        </div>

                        <div>
                            <div class="badge badge-outline">
                                <i class="fa-solid fa-eraser"></i>
                                <span class="ml-1">수정</span>
                                <span class="ml-1"
                                      th:text="${#temporals.format(book.modifyDate, 'yy-MM-dd')}"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="badge badge-primary">제목</div>

                    <div th:text="${book.subject}"></div>
                </div>

                <div>
                    <div class="badge badge-primary">가격</div>

                    <div th:text="${book.price}"></div>
                </div>



                <div>
                    <a th:if="${@bookService.actorCanModify(@rq.member, book)}"
                       th:href="@{|/book/${book.id}/modify|}"
                       class="btn btn-secondary btn-sm btn-outline">
                        <i class="fa-solid fa-eraser"></i>
                        <span class="ml-1">수정</span>
                    </a>

                    <a th:if="${@bookService.actorCanRemove(@rq.member, book)}" href="javascript:;"
                       onclick="if ( confirm('정말로 삭제하시겠습니까?') ) $(this).next().submit();"
                       class="btn btn-secondary btn-sm btn-outline">
                        <i class="fa-solid fa-trash"></i>
                        <span class="ml-1">삭제</span>
                    </a>
                    <form th:action="@{|/book/${book.id}/remove|}" method="POST" hidden></form>

                </div>

            </div>
        </div>
    </section>

</main>
</body>
</html>