<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>도서 목록</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-myBook"></i>
                도서 목록
            </h1>

            <div class="mt-2">
                <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
                    <li th:each="myBook : ${myBooks}">
                        <div class="card bg-base-100 shadow-xl">
                            <a th:href="@{|/myBook/${myBook.id}|}" class="block">
                                <figure>
                                    <svg width="200" height="200" th:data-jdenticon-value="${myBook.jdenticon}"></svg>
                                </figure>
                            </a>
                            <div class="card-body">
                                <h2 class="card-title flex flex-wrap">
                                    <a th:href="@{|/myBook/${myBook.id}|}" class="mr-auto">
                                        <i class="fa-solid fa-myBook-open"></i>
                                        <span th:text="${myBook.subject}"></span>
                                    </a>
                                    <div class="flex">
                                        <div th:text="${myBook.author.name}"></div>
                                    </div>
                                </h2>
                                <div th:text="|￦ ${myBook.price}|"></div>
                                <div class="flex justify-end">
                                    <div class="badge badge-outline">
                                        <i class="fa-solid fa-pen"></i>
                                        <span class="ml-2"
                                              th:text="${#temporals.format(myBook.createDate, 'yy-MM-dd')}"></span>
                                    </div>
                                </div>
                                <div th:if="${myBook.createDate != myBook.modifyDate}" class="flex justify-end">
                                    <div class="badge">
                                        <i class="fa-solid fa-eraser"></i>
                                        <span class="ml-2"
                                              th:text="${#temporals.format(myBook.modifyDate, 'yy-MM-dd')}"></span>lear
                                    </div>
                                </div>
<!--                                <div class="card-actions justify-end">-->
<!--                                    <a href="javascript:;" onclick="$(this).next().submit();" class="btn btn-sm"-->
<!--                                       th:classappend="${myBook.extra_actor_hasInCart ? 'btn-disabled' : ''}">-->
<!--                                        <i class="fa-solid fa-cart-plus"></i>-->
<!--                                        <span class="ml-2">장바구니</span>-->
<!--                                    </a>-->

                                    <form th:action="@{|/cart/addItem/${myBook.id}|}" method="POST"></form>

                                    <a th:href="@{|/myBook/${myBook.id}|}" class="btn btn-sm">
                                        <i class="fa-solid fa-eye"></i>
                                        <span class="ml-2">보기</span>
                                    </a>
                                <!--   -->
                                <a th:if="${!myBook.extra_actor_hasInCart}" href="javascript:;" onclick="$(this).next().submit();" class="btn btn-sm btn-outline">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="ml-2">장바구니</span>
                                </a>
                                <form th:action="@{|/cart/addItem/${myBook.id}|}" method="POST" hidden></form>

                                <a th:if="${myBook.extra_actor_hasInCart}" href="javascript:;" onclick="$(this).next().submit();" class="btn btn-sm">
                                    <i class="fa-solid fa-trash-can"></i>
                                    <span class="ml-2">장바구니</span>
                                </a>
                                <form th:action="@{|/cart/removeItem/${myBook.id}|}" method="POST" hidden></form>
                                <!--   -->
                            </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</main>
</body>
</html>